<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="text" />
      <ul>
        <li v-for="data of getDatalist">{{data}}</li>
      </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          text: "",
          datalist: ["aaa", "bbb", "ccc", "ddd", "add", "cee", "eee"],
        },
        computed: {
          getDatalist() {
            return this.datalist.filter((item) => item.indexOf(this.text) > -1);
          },
        },
      });
    </script>
  </body>
</html>
